.todo-item {
    width: 535px;
    height: 65px;
    display: flex;
    position: relative; /*Agrega esta propiedad para establecer un contexto de posicionamiento para el botón*/
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.todo-item-interno {
    width: 510px;
    height: 40px;
    background-color: #D9D9D9;
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative; /* Agrega esta propiedad para establecer un contexto de posicionamiento para el botón */
}
.icon-delete {
    width: 30px;
    height: 30px;
    color: #490000;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease; /* Agrega una transición de transformación con duración y función de interpolación */
}
.icon-delete:hover {
    transform: scale(1.2); /* Aplica una transformación de escala para aumentar el tamaño en el estado de hover */
}
.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-check {
    width: 30px;
    height: 30px;
    color: #007EFF;
    transition: transform 0.3s ease; /* Agrega una transición de transformación con duración y función de interpolación */
}
.icon-check:hover {
    transform: scale(1.2); /* Aplica una transformación de escala para aumentar el tamaño en el estado de hover */
}
.spam-text{
}
.debug{
    border: 1px solid red;
}