.todo-list{
    background-color: #F5F5F5;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}
.debug{
    border: 1px solid red;
  }