.todo-item {
    width: 535px;
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.todo-item-interno {
    position: relative; /*Agrega esta propiedad para establecer un contexto de posicionamiento para el botón*/
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 10px 20px;
}

.icon-delete-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
}

.icon-delete {
    width: 30px;
    height: 30px;
    color: #490000;
    transition: transform 0.3s ease; /* Agrega una transición de transformación con duración y función de interpolación */
}
.icon-delete:hover {
    transform: scale(1.2); /* Aplica una transformación de escala para aumentar el tamaño en el estado de hover */
}
.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-check {
    width: 30px;
    height: 30px;
    color: #007EFF;
    transition: transform 0.3s ease; /* Agrega una transición de transformación con duración y función de interpolación */
}
.icon-check:hover {
    transform: scale(1.2); /* Aplica una transformación de escala para aumentar el tamaño en el estado de hover */
}
.debug{
    border: 1px solid red;
}